<div>
  <h2 id="page-heading" data-cy="SoignantHeading">
    <span jhiTranslate="jhipstersandboxApp.soignant.home.title">Soignants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.soignant.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-soignant"
        [routerLink]="['/soignant/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.soignant.home.createLabel"> Créer un nouveau Soignant </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="soignants?.length === 0">
    <span jhiTranslate="jhipstersandboxApp.soignant.home.notFound">Aucun Soignant trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="soignants && soignants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.soignant.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.soignant.user">User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="etablissement.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.soignant.etablissement">Etablissement</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soignant of soignants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/soignant', soignant.id, 'view']">{{ soignant.id }}</a>
          </td>
          <td>{{ soignant.deleted }}</td>
          <td>
            {{ soignant.user?.id }}
          </td>
          <td>
            <div *ngIf="soignant.etablissement">
              <a [routerLink]="['/etablissement', soignant.etablissement.id, 'view']">{{ soignant.etablissement.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/soignant', soignant.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/soignant', soignant.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(soignant)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
