<div>
  <h2 id="page-heading" data-cy="DemandeHeading">
    <span jhiTranslate="jhipstersandboxApp.demande.home.title">Demandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.demande.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demande"
        [routerLink]="['/demande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.demande.home.createLabel"> Créer un nouveau Demande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
    <span jhiTranslate="jhipstersandboxApp.demande.home.notFound">Aucun Demande trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="demandes && demandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateEmition">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.dateEmition">Date Emition</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateLimite">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.dateLimite">Date Limite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="resident.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.resident">Resident</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="docteur.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.demande.docteur">Docteur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a>
          </td>
          <td>{{ demande.dateEmition | formatMediumDatetime }}</td>
          <td>{{ demande.dateLimite | formatMediumDate }}</td>
          <td>{{ demande.description }}</td>
          <td>{{ demande.deleted }}</td>
          <td>
            <div *ngIf="demande.resident">
              <a [routerLink]="['/resident', demande.resident.id, 'view']">{{ demande.resident.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="demande.docteur">
              <a [routerLink]="['/docteur', demande.docteur.id, 'view']">{{ demande.docteur.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demande', demande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(demande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
