<div>
  <h2 id="page-heading" data-cy="RappelHeading">
    <span jhiTranslate="jhipstersandboxApp.rappel.home.title">Rappels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.rappel.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rappel"
        [routerLink]="['/rappel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipstersandboxApp.rappel.home.createLabel"> Créer un nouveau Rappel </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rappels?.length === 0">
    <span jhiTranslate="jhipstersandboxApp.rappel.home.notFound">Aucun Rappel trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="rappels && rappels.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.rappel.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.rappel.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.rappel.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="docteur.id">
            <div class="d-flex">
              <span jhiTranslate="jhipstersandboxApp.rappel.docteur">Docteur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rappel of rappels; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rappel', rappel.id, 'view']">{{ rappel.id }}</a>
          </td>
          <td>{{ rappel.date | formatMediumDatetime }}</td>
          <td>{{ rappel.description }}</td>
          <td>{{ rappel.deleted }}</td>
          <td>
            <div *ngIf="rappel.docteur">
              <a [routerLink]="['/docteur', rappel.docteur.id, 'view']">{{ rappel.docteur.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/rappel', rappel.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button type="submit" [routerLink]="['/rappel', rappel.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(rappel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
